@font-face {
  font-family: "Bubbler One";
  src: url(./fonts/bubblerone-regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Courier Prime Code";
  src: url(./fonts/Courier-Prime-Code.ttf);
  font-weight: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.peach-text {
  color: #ffd270;
}

.logo-2 {
  font-family: "Bubbler One";
  font-weight: bold;
  font-size: 22px;
}

.logo-1 {
  font-family: "Courier Prime Code";
  font-weight: normal;
  font-size: 24px;
}

.font-bubbler-one {
  font-family: "Bubbler One";
}

.font-courier-prime-code {
  font-family: "Courier Prime Code";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.parallax-inner {
  z-index: -1;
}

.carousel-indicators > li {
  background-color: #4285F4;
}

.view,body,html{height:100%}@media (max-width:740px){.full-page-intro{height:1000px}}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}

    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1050px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 700px;
      }
    }

